body {
  margin: 0;
  height: 100%;
  background: gray;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

.calendar {
  height: 100%;
}

.calendar-day {
  border-style: solid;
  border-width: thin;
  border-color: #b1a3a3;
  text-align: center;
}

.calendar-body {
  display : grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(5, 4fr);
  height: 90%;
}

.calendar-head {
  display: flex;
  flex-direction: row;
}

.calendar-day-of-week {
  border-style: solid;
  border-width: thin;
  border-color: #b1a3a3;
}

ul {
  display: flex;
  background: #b1a3a3;
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
  padding: 0;
}

ul li {
  list-style: none;
  width: 100px;
  text-align: center;
}

ul.calendar-scroll-bar {
  align-self: flex-start;
}

ul.calendar-scale-bar {
  align-self: flex-end;
}