ul {
  display: flex;
  overflow: hidden;
  width: fit-content;
  padding: 0;
}

ul li {
  list-style: none;
  width: 100px;
  text-align: center;
}

a {
  cursor: pointer;
  border-radius: 30px;
  border-color: rgba(71, 76, 105, 0.1);
  background-color: rgba(64, 11, 134, 0.4);
  color: white;
  margin: 1px;
  padding: 2px;
  font-size: medium;
  text-decoration: none;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

a:focus {
  border: none;
}

.is-active {
  background-color: rgb(175, 72, 94, 0.4);
  pointer-events: none;
}