<ul class="calendar-scale-bar">
  <a [routerLink]="monthUrl" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><li>Month</li></a>
  <a [routerLink]="weekUrl" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><li>Week</li></a>
  <a [routerLink]="dayUrl" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><li>Day</li></a>
  
  
  <a [routerLink]="agendaUrl" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><li>Agenda</li></a>
</ul>